.student-dashboard {
  margin: 0;
  padding: 0;
  background-color: black;
}

.test-message{
  display: flex;
  color: rgba(254, 150, 80, 0.904);
  font-style: bold;
  font-family: "Aachen", sans-serif;
  justify-content: flex-end;
}

.no-bullets li {
  display: flex;
  padding: 0.5em;
  justify-content: center;
  list-style-type: none;
}

.no-bullets {
  display: flex;
  flex-direction: column;
  font-size: large;
  border: 0.1em solid;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: rgb(40, 19, 0);
  color: rgb(254, 185, 80);
  margin: 2em 25em 2em 25em;
  font-family: "Aachen", sans-serif;
}

.students-list {
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.students-list-header-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-bottom: 2em;
}
.students-list-heading {
  display: flex;
  color: rgb(254, 185, 80);
  font-family: "Aachen", sans-serif;
  font-size: 2.5em;
}

.students-list-search-box {
  width: 25em;
  height: 3em;
  font-size: 1em;
  font: bolder;
  background-color: rgb(219, 189, 134);
  color: black;
}

.css-message{
  display: flex;
  color: rgb(254, 185, 80);
  font-style: italic;
  font-family: "Aachen", sans-serif;
  align-self: flex-end;
}