@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.hospital-dashboard {
  margin: 0;
  padding: 0;
}

.no-bullets li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em;
  justify-content: center;
  list-style-type: none;
}

.no-bullets {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
  padding: 1em;
  padding-top: 1em;
  background-color: rgb(225, 248, 255);
  color: rgb(0, 0, 0);
}

.no-bullets:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hospitals-list {
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.hospitals-list-header-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-bottom: 2em;
}
.hospitals-list-heading {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
}

.hospitals-list-search-box {
  width: 30%;
  height: 2em;
  font-size: 1em;
  padding: 15px;
  border-color: aqua;

  background-color: rgb(230, 230, 230);
  color: black;
}

.hospitals-list-search-box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .no-bullets {
    float: none;
    align-items: center;
    text-align: justify;
  }
  .hospitals-list {
    float: none;
    text-align: center;
    display: grid;
  }
  .hospitals-list-search-box {
    width: 100%;
  }
}
